
body {
	font-size: 16px;
	box-sizing: border-box;
}
.chart-wrapper {
	width: 100%;
	height: 100%;
	background-color: #0d0d0d;
	position: absolute;
}

path {
	stroke: #0d0d0d;
	/* stroke-width: 5px; */
	cursor: pointer;
	transition: fill 250ms;
}

path :hover {
    fill: #fff;
}

text {
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .5px;
}

polyline {
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 5px;
}
button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  font-size: .6em;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
	letter-spacing: 1px;
	transition: all 250ms;
	
}

button:hover {
    background-color: #fff;
    color: #0d0d0d;
    box-shadow: 0 0 2px #fff;
}

button:active {
    opacity: 0.5;
}

.btn-back {	
	margin-top: 10px;
	margin-left: 10px;
	padding: 20px;
	font-size: 20px;
	background: rgb(38, 78, 189);
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
	border: rgb(38, 78, 189) solid;
}

.btn-back:hover {
	background: #fff;
	color: rgb(38, 78, 189);
	border: rgb(38, 78, 189) solid;
}